body{
	/*background-image: url("C:\\Users\\Dell\\Downloads\\download.jpeg");*/
    background-image:linear-gradient(to right,black, brown);
    background-repeat: no-repeat;
    height:100vh;
    text-shadow: 1px 1px;
    text-align: center;

    /*transform:translate(10px);*/

 }

.first{
	background: lightpink;
    color: brown;
	box-shadow: 2px 3px 2px 2px indianred;
	border-bottom: 30px;
	height: 50px;
/*	transition: width 2s; }*/
	/*transform:rotate(30deg);*/
	/*transform:skewY(30deg);*/
  
.first:hover{
		width:300px;
	}
	
