*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: "Jost", sans-serif;
}
body{
	background-image: url("C:\\Users\\Dell\\Downloads\\Sea.jpeg");
	color: skyblue;
	overflow-x: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	padding: 32px 13%;
	justify-content: space-between;
	transition: all .50s ease;

}

.navbar{
	display: flex;
}
.navbar a{
	display: inline-flex;
	font-size: 2.3rem;
	font-weight: 500;
	color: #3b819d;
	margin: 0 30px;
	transition: all .6s ease;
}
.navbar a:hover{
	color: var(--other-color);
	transform: translateY(-5px);
}
.navbar a.active{
	color: var(skyblue);
}

.hero{
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;

}

.hero-container h2{
	font-size: 2rem;
	line-height: 1.1;
	font-weight: 700;
	margin: 20px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: -1px -1px opx #000, 9px 9px 0px #00000055;
	color: #7da0a9;
}
.hero-container h1{
	font-size: 22px;
	font-weight: 600px;
	color: #7da0a9;
}

.hero-container p{
	font-family: "Caveat", cursive;
    font-size: 2.3rem;
	color: #3b819d;
	margin-bottom: 2;
}

.logo{
	color: #0f394a;
	font-size: 30px;
	font-weight: 700;
	 position:absolute;
   top:1;
   left:-0px;

}
.menu{
	display: flex;
	align-items: center;
}

#menu-icon{
	font-size: 40px;
	margin-left: 22px;
	z-index: 10001;
	cursor: pointer;
	display: flex;
	color: #406473;
}

section{
	padding: 90px 13% 80px;
}
/*project section*/
.main{
	text-align: center;

}

.main h3{
	color: #4a6d9a;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 8px;
    font-family: "Caveat", cursive;
}
.main h3 span{
	font-family: "Caveat", cursive;
}

.main-img img{
	border-radius: 20%;
	border: 1px solid darkblue;
}

.main-img img:hover{
color: red;
border: 2px solid darkred;
}

.project-content{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto)) ;
	grid-gap: 2rem;
	align-items: center;
	margin-top: 4.4rem;
}
.column{
	background: #3183a7;
	padding: 60px 35px;
	border-radius: 5px;
	transition:all.40s;
	height: 400px;
	
}
.column h5{
	font-size: 1rem;
	text-align: center;
}
.column h4{
	font-size: 1rem;
	text-align: center;
}
.column h6{
	font-size: 1rem;
	text-align: center;
}
/*contact section*/
.contact-container{
	padding: 30PX;
	text-align: CE;
}

contact-container{
	letter-spacing: 2px;
	margin: 0 auto;
	padding: 90px 13% 9px;
	color: black;
	text-align: center;
	font-size: 30px;
}
.contact-container  h1 span{
	color: black;
	margin: 0;
}

.contact-container p{
	font-family: "Caveat", cursive;
	font-size: 30px;
	color: #0a3d51;
	padding: 4px;
}
/* contact-form */
.contact-form{
	padding: 40px 0;
	margin: 0 10px;
}
.form-container {
    max-width: 60%;
    margin: 0 auto;
    padding: 50px;
    background-color: #0a3d51;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 20px;
}

.form-container h2{
	font-size: 1rem;
	letter-spacing: 2px;
	font-weight: bold;
	color:#108abc;
}
 
.form-container label {
    display:block;
    font-weight: normal;
    text-align: left;
}
.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: darkblue;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

/* contact-info syles*/
.contact-info {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}
 
.contact-info h2 {
    margin-bottom: 20px;
}
.contact-info info a{
	color: #108abc;
}

Jison
@media(max-width:1070px){
	.hero{
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		height: 130vh;
	}
	.hero-text{
		text-align: center;
		order: 2;
		width: 100%;
	}
	.hero-text p{
		width: 100%;
	}
}

@media(max-width: 1510px){
	:root{
		--h1-font: 4.2em;
	    --p-font: 1rem;
	}
	.hero-image img{
		max-width: 540px;
	    width: 100%;
	    height: 100%;
	    object-fit: contain;
	}
}

@media(max-width: 1330px){
	header{
		padding: 22px 4%;
	}
	section{
		padding: 40px 4% 50px;
	}
	:root{
		--h1-font: 4rem;
	}
	.hero-image img{
		max-width: 500px;
	    width: 100%;
	    height: 100%;
	    object-fit: contain;
	}
}
@media(max-width:1200px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		backdrop-filter: blur(30px);
		align-items: center;
		flex-direction: column;
		padding-top: 150px;
		transition: all .6s ease;
	}
	.navbar a{
		display: block;
		padding: 0;
		margin: 0px 0px 30px 0px;
		font-size: 1.7rem;
	}
	.navbar a:hover{
		color: var(--main-color);
	}
	header{
		background: var(--second-bg-color);
		padding: 10px 4%;
	}
	.logo{
		font-size: 25px;
	}
	.navbar{
		padding: 9px 20px;
		font-size: 14px;
	}
	.hero{
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		height: auto;
	}
	.hero-text{
		text-align: center;
		order: 2;
		width: 100%;
	}
	.hero-text p{
		width: 100%;
	}
	.hero-image{
		margin: auto;
	}
}
@media(max-width:610px){
	:root{
		--h1-font: 2.7rem;
	}
}
